.grid-layout{
    grid-template-rows: 25rem;
    grid-auto-rows: auto;
    overflow: scroll;
}

.grid-description {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.perfil-info {
    background: url('/img/banner.png');
    background-position: center;
    background-size: cover;
}

body {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.twitter{
    height: fit-content;
}